@model Gen06_23_MVCV2.Models.Curso

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Details</h1>

<div>
    <h4>Curso</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Nombre)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Nombre)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Descripcion)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Descripcion)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FechaCreacion)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FechaCreacion)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Duracion)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Duracion)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Ilustracion)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Ilustracion)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Categoria)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Categoria.Nombre)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.InstructorAuxiliar)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.InstructorAuxiliar.ApMaterno)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.InstructorTitular)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.InstructorTitular.ApMaterno)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
